<%- include("header") -%>

<h2>This is first example about Layout file</h2>
<p>Мы сейчас напишем header и footer и наш файл будет иметь облик как с файла list.ejs</p>

<%- include("footer") -%>
